html,
body {
  height: 100%;
  background-image: url(1.jpg);
  background-position: center;
  background-size: cover;
  font-size: 25px;
  color: #ea5e0e;
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
table tr td{
  border-bottom: 1px solid gray;
  font-size: 25px;
  width: auto;
  text-align: center;
  table-layout: auto;
  color: #ea5e0e;
}
td {
  max-width: 100%;
  white-space: nowrap;
  color: #5cb85c;
  padding: 15px;
}
.container{
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  z-index:1;
  opacity: 0.8;
}

a {
  color: #ea5e0e;
}
span {
  color: #ea5e0e;
}
